#version=RHEL7
# System authorization information
authconfig --enableshadow --enablemd5
bootloader --location=mbr
firewall --disable
install
text
url --url http://mirrors.prometeus.net/centos/7/os/x86_64/
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
keyboard it
lang en_US.UTF-8
network --bootproto=dhcp --hostname=localhost.localdomain --device=link
rootpw Password123
selinux --disabled
timezone --utc Europe/Rome
skipx

zerombr
clearpart --all --drives=sda
part /boot --fstype ext3 --size=500
part pv.2 --size=5000 --grow 
volgroup VolGroup01 pv.2
logvol / 		  --fstype ext4 --name=LV-root --vgname=VolGroup01 --size=1024 --grow
logvol swap 	--fstype swap --name=LV-swap --vgname=VolGroup01 --size=512 --grow --maxsize=512

reboot --eject

%packages --excludedocs --nobase
@Core
openssh-server
openssh-clients
nano
-aic94xx-firmware*
-alsa-*
-ivtv*
-iwl*firmware
-libertas*
-kexec-tools
-plymouth*
-postfix
%end
